@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans Condensed', sans-serif;
}
h2{
  text-align: center;
  color: purple;
}
h2.section-heading{
  color: purple;
  text-align: center;
}